[2017-12-20 16:11] morficus opened #2 "No favicons in the index.html page"

[2017-12-20 17:05] igeligel commented on #2
We should rather use a webpack plugin to support stuff like this in my opinion. I am fine with merging #3 but we should leave open this issue and extend it then.

Webpack plugin for [favicons](https://github.com/jantimon/favicons-webpack-plugin).

[Vue plugin](https://github.com/declandewet/vue-meta) for changing the meta tags.

[2017-12-20 21:11] morficus commented on #2
Interesting. Was not aware that there was a webpack plugin to generate this (tho I'm not surprised haha). I can configure it and open another PR with that if that is preferred.

[2017-12-20 21:14] igeligel commented on #2
It is preferred i think. But let's wait for another opinion. I do not want to decide on this alone 🤔

The meta tag change would require a lot of changes since it needs to be adjusted for every view i guess since the title should be different.

[2017-12-21 16:37] morficus commented on #2
ok... I created a 2nd alternative PR that uses the webpack plugin. That way regardless of what direction people decide to go in... the work is already done :-)

I also removed the `color-theme` meta tag from the original PR, since that would probably fall under the hole "title tag management" stuff

[2017-12-21 17:39] morficus opened #5 "use async-await for Promises"
This might be somewhat subjective... but aside from syntax sugar for dealing with Promises... there are a few other benefits of using async-await over `new Promise()` and `.then`
* `async` functions always return a Promise (regardless of returning a value or not) - no need to remember to call `resolve()`
* you can use traditional `try-catch-throw` for dealing with and reporting errors - no need to

[2017-12-21 17:52] morficus opened #6 "Do not access the store object directly from components"
## The Problem
For large and real-world applications... writing `this.$store. getters` and  `this.$store. dispatch ` gets quite tedious and creates temptation for trying to modify things directly (such as `this.$store.state.myThing = 'the new thing'`)

## Recommended Solution
Leverage the 3 helper methods offered by Vuex ([mapState](https://vuex.vuejs.org/en/state.html#the-mapstate-helper), [mapGe

[2017-12-21 18:09] morficus opened #7 "Do not access the route directly from components"
## The Problem
There are [quite](https://github.com/gothinkster/vue-realworld-example-app/blob/87254e837decc061f75d5bce3c550652d9f93a79/src/views/HomeTag.vue#L16) [a](https://github.com/gothinkster/vue-realworld-example-app/blob/87254e837decc061f75d5bce3c550652d9f93a79/src/views/Profile.vue#L93) [number](https://github.com/gothinkster/vue-realworld-example-app/blob/87254e837decc061f75d5bce3c550652

[2017-12-24 12:08] igeligel opened #9 "Exclude moment from the dependencies"
I think it is not worth to include a library here for a simple date filter. The functionalities of moment are used once and it is really simple to exclude this here.

`vue-realworld-example-app/src/common/date.filter.js`:

[code]

Can be easily transferred to a native solution.

[2017-12-24 14:55] vilsbole commented on #2
@igeligel The webpack plugin seems like a great option to generate the appropriate favicons. I'm merging the PR #4 and closing the PR #3

[2017-12-24 14:56] #2 closed

[2017-12-24 15:16] vilsbole commented on #9
Indeed, it is overkill to import the full library for simple date formatting (I was expecting to use it more). But, I also seek to avoid reinventing the wheel.
Since it seems that `moment` will not become modular in the near future (https://github.com/moment/moment/issues/2373), what do you think of using the suggested `date-fns` ?

[code]

[2017-12-26 09:20] techiedod commented on #7
@morficus aren't views _meant_ to be tightly coupled to a particular application? This would make sense only in re-usable view components that ship as part of a package, for example. Well, that's just my opinion.

I'm available to fix this issue if it needs to be fixed.

[2017-12-28 06:28] morficus commented on #7
@techiedod I could live with that.
I'm a fan of the "views" vs "components" separation. Makes a lot of sense to state that a particular "view" is intended to be tightly coupled with a particular route, in which case using `this.$route` would be fair game. But it should never directly outside of views (aka: anything under the "components" directory).

I just did a quick search in the "components" d

[2017-12-28 06:45] morficus commented on #9
Is this concern of "including a full lib for 1 function" go away with tree-shaking in WebPack?

[2017-12-28 08:33] igeligel commented on #7
I also see it the same as you. Just views should access the `$route`. Components are just there for displaying data and handling state.

Would be fine if you tag it somewhere in the readme or in a similar place.

[2018-01-02 02:03] maggiepint commented on #9
Just to note, we (the moment team) shipped a new library which is a moment-like API built for the modern web. It will only work with evergreen browsers, but it does pretty much everything moment does - including full time zone support. It's smaller, it's shakeable, and it's here: https://github.com/moment/luxon

You're more than welcome to go down the date-fns road as well of course - it's a great

[2018-01-09 18:12] techiedod commented on #6
Hey guys,

What's the state of this issue. I'm available to contribute with whatever is necessary to get this example ready for publication.

[2018-01-09 18:30] techiedod commented on #5
If this is something that needs to be done, I can work on it.

[2018-01-09 20:54] disjfa commented on #6
As far as i know this has been fixed 99% in https://github.com/gothinkster/vue-realworld-example-app/pull/8

[2018-01-09 20:58] #6 closed

[2018-01-09 20:59] disjfa opened #10 "Remove getters type"
We have a getters.type.js wich is not wanted. We can remove and use the names themselves.

reference: https://github.com/gothinkster/vue-realworld-example-app/pull/8

[2018-01-09 21:00] disjfa opened #11 "Map isAuthenticated"
Map isAuthenticated in components for a check if someone is authenticated.

reference: https://github.com/gothinkster/vue-realworld-example-app/pull/8

[2018-01-09 21:48] disjfa opened #12 "Follow user not working on article page"
On the article page the follow user button is not working.

[2018-01-09 21:51] disjfa opened #13 "Article is saved after creation"
I don't know if i used the back button, but when i added a article and get to the arr article page the article still was on the state. We have to clean the article when mounted, or posted.

[2018-01-09 21:55] techiedod commented on #12
I can look at this issue tomorrow in the morning if no one fixes it before then.

[2018-01-09 22:02] disjfa commented on #12
Cool, i do have an open pullrequest wich will create a conflict

[2018-01-09 22:10] techiedod commented on #12
@disjfa When do you plan to merge it?

[2018-01-09 22:23] disjfa commented on #12
I want people to see the changes and comment, so when that happens. At least a couple of days.

[2018-01-16 15:50] igeligel opened #15 "Migrate vue-test-utils"
Since the package has been moved to a scoped package we need to change the dependency.

- Old dependency: [NPM](https://www.npmjs.com/package/vue-test-utils)
- New dependency: [NPM](https://www.npmjs.com/package/@vue/test-utils)

Basically just the dependency need to be changed and updated. Probably there are breaking changes in the tests then but i guess not (since it is still in beta).

[2018-01-16 15:59] igeligel opened #16 "Make testing great again"
Since the whole testing is not done, we should somehow make a plan to improve this.

Actually we should think of what to include, what to test, which types of test to include and so on. I am actually interested in e2e testing and capable of writing unit tests with `vue-test-utils` already. I guess e2e tests would be somehow similar.

Just want to hear some opinions on it 👍

[2018-01-16 22:25] disjfa commented on #16
I'm not great at testing so any help and mentions are helful!

[2018-01-16 22:27] igeligel commented on #16
Yeah I'll make some simple examples in the near future. Actually should I create issues for every component which should be tested and what should be tested? Then we can divide the tasks somehow and I think this would be a great way to contribute :)

[2018-01-20 19:06] atilacamurca commented on #9
the [react-redux](https://github.com/gothinkster/react-redux-realworld-example-app) example uses:

[code]

as you can see in <https://github.com/gothinkster/react-redux-realworld-example-app/blob/3e550111a601d36fd6509bf670b85f212dbf35dd/src/components/Article/ArticleMeta.js#L18>

The point to consider is also l10n.

[2018-01-25 23:00] psychonetic opened #17 "Vuex store modifcations"
Hello,

if I am not mistaken, the store is not used in strict mode and if you would change it to strict, you would have a lot of errors like "don't vuex mutate state outside store". Because you are binding all properties of an object directly to v-model. In my opinion this is not good practice, because mutating outside of store can lead to unexpected behaviour in big applications and so debugging

[2018-02-03 16:09] #10 closed

[2018-02-03 16:42] vilsbole commented on #11
closed by merge

[2018-02-03 16:42] #11 closed

[2018-02-03 17:06] vilsbole commented on #17
@psychonetic Yes it's an important change to make! We should turn on strict mode and remove all store mutations inside a component.

[2018-02-03 17:07] vilsbole commented on #5
@techiedod Yes this would be an excellant improvement.

[2018-02-21 20:53] #9 closed

[2018-03-03 11:46] AlexanderOpran opened #19 "Validation errors for Register and Log In do not work the first time"
The validation errors for the input fields do not show up the first time the user tries to log in or register in the application. They only show up after the first try, even if the email or user is invalid, blank or taken.

[2018-03-03 22:15] igeligel opened #20 "License"
Are we allowed to add a license to this repostory somehow?

I do not know how it is handled in other realworld applications since they do not have any license.

[2018-03-03 23:51] vilsbole commented on #20
Yes please do !
Which one do you suggest ?

[2018-03-04 03:31] AlexanderOpran opened #21 "Login and Register both fail the first time"
Including both the live demo and my local cloned project, every single time you try to login and register with valid credentials, it silently fails (without any errors). The second or third time,  etc.,  it works.

I suppose the problem lies somewhere in the vuex implementation.

[2018-03-04 04:08] AlexanderOpran commented on #21
For some reason, the first time I try to register, the `POST `to the `/users `endpoint is made before the `mongoose user.insert`.

`POST /users - - ms - -`

[2018-03-04 04:25] AlexanderOpran commented on #21
It seems that the first Login Or Register request doesn't even reach the server.

[2018-03-04 04:42] AlexanderOpran commented on #21
Listening on port 3000
Mongoose: users.ensureIndex({ username: 1 }, { unique: true, background: true })
Mongoose: articles.ensureIndex({ slug: 1 }, { unique: true, background: true })
Mongoose: users.ensureIndex({ email: 1 }, { unique: true, background: true })
Mongoose: users.findOne({ email: 'firstLoginAttempt@mail.com' }, { fields: {} })
POST /users/login - - ms - -

Mongoose: users.findOne({ e

[2018-03-05 03:19] AlexanderOpran commented on #21
I solved these issues by changing `v-on:submit="onSubmit"` to  `v-on:submit.prevent="onSubmit"` in the Register and Login forms.

[2018-03-06 21:03] disjfa commented on #20
mit, i would say

[2018-03-07 14:53] vilsbole commented on #19
This is likely linked the to #21

[2018-03-07 14:53] #19 closed

[2018-03-07 14:55] vilsbole commented on #21
Thanks for pointing this out!
If I understand correctly you're running the api locally and changed the frontend project to use your local api, and 'onSubmit' doesn't trigger a call to the api ?

[2018-03-11 20:41] #21 closed

[2018-03-20 21:46] igeligel opened #23 "Upgrade to vue-cli 3"
When [vue-cli](https://github.com/vuejs/vue-cli) is getting released in version 3 we should upgrade the project structure. I can do this when it will be time. Just creating this issue to keep track of it.

Right now it is in `beta.6`.

[2018-04-08 04:26] veeral-patel opened #27 "Walkthrough of Vue example app?"
Would be nice, especially for beginners, to write a guide walking through how this app was built.

Reading the source code is great for people who are more advanced, but by having a guide, we can also reach beginners.

[2018-04-08 15:35] #15 closed

[2018-04-08 15:37] #20 closed

[2018-04-09 21:42] vilsbole opened #28 "Framewars! Improve metrics for vue implementation"
Jacek Schae [comparisons](https://medium.freecodecamp.org/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-2018-update-e5760fb4a962) of realworld-apps uses three metrics:
1. First meaningful paint
2. /src gzipped size
3. Lines of code

There is still a lot of fluff in the codebase, so we should be able to reduce the third, and most probably the two others. At least enough to signifi

[2018-04-15 10:23] christophwolff opened #29 "Do not store JWT in HTML5 Local Storage"
The HTML Local Storage can be compromised because it can be read by JavaScript and the same Domain. (XSS) Use Cookies instead. They are not accessible by JavaScript.

Ref.: https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage

[2018-04-15 20:20] Branksy opened #30 "Cannot register User (with Rails Api)"
When trying to integrate with Realworld Rails, there is a problem when creating a new User :
(No route matches [OPTIONS] "/api/users"):
I previously had no problem with Rails stack using React however

[2018-04-15 20:29] Branksy commented on #30
Not related to Vue - rails rack-cors issue

[2018-04-15 20:29] #30 closed

[2018-05-01 15:55] igeligel commented on #27
I think it would be more viable to write some blog posts or something about it which get mirrored here somehow.

I also think this repository is a good example of how to do something in a bigger Vue.js application but still lacks some other stuff. I will look into this. Unfortunately, i have other projects to do also 👍

Maybe someone can start with some simple Vue.js blog or link to useful resourc

[2018-05-01 16:00] igeligel commented on #28
This is indeed important. But we should rather focus on Clean Code. This is more important in a lot of code bases. Code gets written more often than getting written.

The size can be large if the code is clean in my opinion. Of course, you can do abstraction over abstraction but at some point, you will get to some mess which no one new knows how to edit. I always live with the mindset that a new i

[2018-05-06 17:00] AndreaPravato opened #34 "Improvement to track in store also page changes"
https://github.com/vuejs/vuex-router-sync may help tracking routing states so to make time travel work also across page change

[2018-05-07 16:41] tranlehaiquan opened #35 "Why do we need checked auth before each page load?"
I find in ```main.js```,
[code]
Instead of that why don't we just create an Action to check just only one time when enter site?
[code]
It reduce request from each time change from another page? (may be faster?)

[2018-05-11 06:51] tranlehaiquan commented on #35
@igeligel so we received token and add it to cookie instead localstorage?

[2018-05-11 09:30] igeligel commented on #35
Hmm the official guide recommends to use localstorage:

[code]

[Source](https://github.com/gothinkster/react-redux-realworld-example-app/blob/cde2bda6e6d16a61df85323f4930b5335b126a6c/README.md)

I know for sure localstorage is not right. Maybe we can create an issue in the master repository about it.

[2018-05-18 03:06] cuong-nguyen opened #38 "Why do we pass params to onSubmit?"
Hi,

In **Login.vue** I notice the way you pass params directly like below
[code]

You can just do this
[code]
because you have access to **email, password** inside Vue instance already.

[code]
Is there any benefit to pass params explicitly like that?
Thanks

[2018-05-19 06:50] vilsbole opened #39 "Implement route guards"
For the moment we check auth, but simply purge on error.
We should guard certain routes when not authenticated, notably:
- /settings
- /editor

[2018-05-19 06:50] vilsbole commented on #35
@tranlehaiquan:
I have a few hesitations on a single auth check.
What happens when a user is authenticated -> then logout -> and leaves the browser tab open?
Wouldn't the app will continue to behave as if it were authenticated and the routes that require auth will still be accessible?

The route guard is intended to protect certain routes such as /settings or /editor, and a single auth check would

[2018-05-19 06:54] #12 closed

[2018-05-19 07:02] vilsbole opened #40 "Refactor follow and favorite behaviour when not authenticated"
When we click follow or favorite, we route to /login when the user is not authenticated.
This should be handled by an axios interceptor instead to stay DRY

[2018-05-19 16:56] tranlehaiquan commented on #35
@vilsbole
You mean leave another browser tab open, and it still has token, right?

[2018-05-20 03:43] tranlehaiquan commented on #35
Got it, I try to fix it soon.

[2018-05-24 17:14] tranlehaiquan opened #43 "Default image for user avatar?"
When user update they setting from some String value to empty, API will return an empty string instead of the default image. Should we fix it in front-end?
And I remove submit event parameter.
#42
#38

[2018-05-27 11:48] gamugamu commented on #27
Yes, this could be great.
Maybe you can help: I have set a backend flask real world project with this vue frontend.
I have set up the api url points to my backend. When I try to create an account, nothing happen. The view keep displaying the forms with no errors and my back server send me "OPTIONS /api/users HTTP/1.1" 200. So it's seems to be ok.
My question is: How can I check that my backend is

[2018-05-29 17:33] tranlehaiquan opened #44 "Setting screen update state direct by v-modal."
We use v-model direct in computed state currentUser (setting screen), so every time change It will immediately update (change username and look at navigation bar).
For now because of #35 so it fine. But will helpful later.

[2018-07-01 23:43] tecfu opened #46 "Promise expected but void returned."
In the following line a Promise should be returned to satisfy call to the Promise.all():

https://github.com/gothinkster/vue-realworld-example-app/blob/a56e4c049b077e5b886f83f99e08a0c3e2c16512/src/main.js#L24

I have fixed this in https://github.com/gothinkster/vue-realworld-example-app/pull/45.

[2018-07-30 19:17] tecfu commented on #39
Created PR https://github.com/gothinkster/vue-realworld-example-app/pull/48 for this.

[2018-08-26 04:34] tecfu opened #50 "Where are the SCSS files located?"
The stylesheet for this repo ( https://demo.productionready.io/main.css ) does not match the one in https://github.com/gothinkster/conduit-bootstrap-template.

Can you please publish the source?

[2018-08-26 04:41] tecfu commented on #50
Posted in spec repo.
https://github.com/gothinkster/realworld-starter-kit/issues/25

[2018-09-04 00:36] jackkoppa opened #51 "Fix audit vulnerabilities"
Upon a fresh clone and `npm install` of the repo, npm reports 331 total package vulnerabilities. They are broken down as follows:
* 5 critical
* 13 high
* 30 moderate
* 283 low

These can also be found by running `npm audit` on an existing installation.

Ideally, all vulnerabilities can be fixed; certainly, the critical & high priorities, especially those that require non-major version updates (do

[2018-09-04 00:42] jackkoppa opened #52 "Replace default e2e tests with working specs"
Currently, the e2e [spec](vue-realworld-example-app/test/e2e/specs/test.js) is based on the default, "Hello, World" Vue.js app. As such, the test fails when running `npm run e2e` (or `npm run test`, which includes `e2e`), since it looks for an element with class `hello`, along with 2 other failures.

To fix this, we can simply replace the defaults with a few actual tests based on the realworld app

[2018-09-04 06:42] #51 closed

[2018-09-04 06:42] #52 closed

[2018-09-04 07:29] igeligel commented on #23
Now the new CLI is finally released and we should migrate to this. I will look into this at the weekend if i can find some time.

[2018-09-04 08:57] tecfu commented on #23
@igeligel Do you have an active channel of communication with the maintainers outside of Github? This repo seems abandoned.

It would be great to see you implement vue-cli, however.

[2018-09-04 09:15] vilsbole commented on #23
We don’t have any for the moment, but I would be glad to open one.
Any preferences?

On 4 September 2018 at 10:57:39, tecfu (notifications@github.com) wrote:

@igeligel <https://github.com/igeligel> Do you have an active channel of
communication with the maintainers outside of Github? This repo seems
abandoned.

It would be great to see you implement vue-cli, however.

—
You are receiving this bec

[2018-09-04 09:55] tecfu commented on #23
@vilsbole I made that comment because I did submit a couple of pull requests (https://github.com/gothinkster/vue-realworld-example-app/pull/49, https://github.com/gothinkster/vue-realworld-example-app/pull/48) previously, and didn't see any activity.

I'm glad there's finally some action today.

[2018-09-04 10:07] igeligel commented on #23
We could open a discord. Official vue chat is also on discord :+1:

[2018-09-04 11:19] tecfu commented on #23
I've never used it but I think its better than nothing. I would also mention IRC via freenode as an option.

[2018-09-05 14:38] vilsbole commented on #23
Since Vuejs is on discord I created a discord channel for vue-realworld.
The channel link has been added to the readme.
https://discord.gg/NE2jNmg

@tecfu
It also seems possible to configure a relay between discord and irc:
https://www.npmjs.com/package/discord-irc

I look forward to seeing you all on the channel!

On 4 September 2018 at 13:19:41, tecfu (notifications@github.com) wrote:

I've neve

[2018-09-06 04:05] tecfu commented on #23
@vilsbole joined. Thanks.

[2018-10-07 19:45] igeligel commented on #23
Created a PR #57

[2018-10-12 17:31] igeligel opened #58 "Transform Login call to async/await"
**Issue Summary**:

In the [auth.module.js](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/store/auth.module.js#L28-L39) here you have got some code like:

[code]

Those promise calls could be simpliefied with async and await calls.

**Resources**:

- MDN - [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)
- java

[2018-10-12 17:35] igeligel opened #59 "Remove unused component"
**Issue Summary**:

In the file [`src/components/ArticleList.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleList.vue) there is a component imported and used in the module called `RwvTag`. This component is not used and should be removed.

**Acceptance Criteria**:

- The module import of `RwvTag` is not done
- The component registration of `RwvTag`

[2018-10-12 17:42] igeligel opened #60 "Normalize component names"
**Issue Summary**:

In the component [`src/components/ArticleList.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleList.vue) some external components are used like `RwvArticlePreview` and `VPagination`. The Vue.js style guide suggests a different capitalization of component names in the `<template></template>` though.
Otherwise the name option in `ex

[2018-10-12 17:44] igeligel commented on #23
Done with eeaeb34fa440d00cd400545301ea203bd2a59284

[2018-10-12 17:44] #23 closed

[2018-10-12 18:02] #59 closed

[2018-10-12 18:46] #60 closed

[2018-10-12 19:30] igeligel opened #63 "Make components self closing"
**Issue Summary**

The components `RwvArticlePreview` and `VPagination` are not self-closing. This is the preferred style because it comes more near to the JSX-variant. In [`src/components/ArticleList.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleList.vue) this should be introduced.

**Resources**

- reactjs.org - [JSX In Depth](https://reactjs.or

[2018-10-12 19:34] igeligel opened #64 "Fix path of imported modules in ArticleList.vue"
**Issue summary**

In [`src/components/ArticleList.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleList.vue#L25-L27) some local modules are imported with the `@` symbol which is a webpack alias. For people which are not familar with webpack this might be confusing. Change this to a relative pattern.

**Resources**

- webpack - [Resolve](https://webp

[2018-10-12 19:38] igeligel opened #65 "Transform Register call to async/await"
**Issue Summary**:

In the [auth.module.js](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/store/auth.module.js#L43-L55) here you have got some code like:

[code]

Those promise calls could be simplified with async and await calls.

**Resources**:

- MDN - [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)
- javas

[2018-10-12 19:42] igeligel opened #67 "Transform Check Auth call to async/await"
**Issue Summary**:

In the [auth.module.js](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/store/auth.module.js#L56-L69) here you have got some code like:

[code]

Those promise calls could be simplified with async and await calls.

**Resources**:

- MDN - [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)
- javas

[2018-10-12 19:44] igeligel opened #68 "Transform Update User call to async/await"
**Issue Summary**:

In the [auth.module.js](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/store/auth.module.js#L70-L86) here you have got some code like:

[code]

Those promise calls could be simplified with async and await calls.

**Resources**:

- MDN - [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)
- javas

[2018-10-12 19:51] igeligel opened #69 "Normalize config module"
**Issue Summary**

In the module [`src/common/config.js`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/common/config.js) there is a default module defined which is an empty object. Instead export the `API_URL` also as default export.

**Resources**

- MDN - [import](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)
- MDN - [export](htt

[2018-10-12 19:57] igeligel opened #70 "Normalize JwtService exports"
**Issue Summary**

In the module [`jwt.service.js`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/common/jwt.service.js) there is just a default module. All of the functions of the default `export` should exist as own functions and should be exported as named `exports`.

**Resources**

- MDN - [import](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Sta

[2018-10-12 19:58] igeligel commented on #63
Closed with #66

[2018-10-12 19:58] #63 closed

[2018-10-12 20:05] jkmdev commented on #69
I'll give this one a shot

[2018-10-12 20:30] igeligel opened #71 "Refactor free text in ArticleActions"
**Issue summary**

In [`src/components/ArticleActions.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleActions.vue) there are a lot of free texts which should be wrapped with `<span>`s or similar. Look for example:

[code]

Should be

[code]

Replace every free character/word which is not wrapped with a `<span></span>`.

**Acceptance Criteria**

- Al

[2018-10-12 20:40] igeligel opened #73 "Use directive shorthands in ArticleActions"
**Issue Summary**

In [`src/components/ArticleActions.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleActions.vue) a lot of the Vue.js directives are not given in the shorthand form. They should be used with `@` instead of `v-on`.

**Resources**

- Vue.js style guide - [Directive shorthands](https://vuejs.org/v2/style-guide/#Directive-shorthands-str

[2018-10-12 20:41] #69 closed

[2018-10-12 20:56] matheushf commented on #73
I will take this up!

[2018-10-12 20:59] jkmdev commented on #68
I'll have a go at this one as well

[2018-10-12 21:21] igeligel opened #75 "Refactor method calls in ArticleActions"
**Issue summary**

In the component [`src/components/ArticleActions.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleActions.vue) a lot of on click handlers are triggered and are calling a method with an instance property. For example there is a handler calling `deleteArticle(article.slug)` even though `article.slug` is bound to this. Rather just use

[2018-10-12 21:22] igeligel opened #76 "Delete unused function in ArticleActions"
**Issue summary**

The function [`editArticle`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleActions.vue#L84-L89) is never used in the component. It should be just deleted.

**Acceptance criteria**

- The function `editArticle` is deleted from the `ArticleActions.vue` component

[2018-10-12 21:29] #76 closed

[2018-10-12 21:30] matheushf commented on #70
#78

[2018-10-12 21:40] igeligel opened #79 "Use async/await in method and extend error handling"
**Issue summary**

The [`deleteArticle`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ArticleActions.vue#L90-L94) is using a Promise even though it could use the async/await pattern.

**Resources**

- MDN - [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)
- javascript.info - [async tutorial](https:/

[2018-10-12 21:46] #70 closed

[2018-10-12 23:45] ljones92 commented on #58
I'll take a look at this

[2018-10-13 00:02] franciscoemanuel commented on #79
I can do this one!

[2018-10-13 01:30] GianOrtiz commented on #75
Will work on it.

[2018-10-13 11:01] igeligel opened #82 "Normalize template of TheFooter"
**Issue summary**

In the [`src/components/TheFooter.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/TheFooter.vue) there is no new line between `<template></template>` and `<script></script>`. But there should be a new line.

**Acceptance criteria**

- The `<template></template>` and `<script></script>` part are separated by a new line in `src/components/

[2018-10-13 11:04] igeligel opened #83 "Rename component name in TheFooter"
**Issue summary**

The name in [`src/components/TheFooter.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/TheFooter.vue) is not PascalCase.

**Acceptance criteria**

- `rwvFooter` should be `RwvFooter` in the [`src/components/TheFooter.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/TheFooter.vue) component

[2018-10-13 11:07] rhellyar commented on #83
I'll happily take this up

[2018-10-13 11:07] igeligel opened #84 "Security vulnerability on TheFooter"
**Issue summary**

In the component [`src/components/TheFooter.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/TheFooter.vue) there is an `<a></a>` tag introduce which links to another site. This link is opening with `target="blank"` but is not taking Reverse Tabnabbing into consideration.

**Resources**

- Alex Yumashev - [Target=”_blank” — the most under

[2018-10-13 11:49] islamnurdin commented on #82
See my pull request and let me know if there is something else.

[2018-10-13 11:58] #82 closed

[2018-10-13 17:17] #75 closed

[2018-10-13 17:44] oktak commented on #71
Let me take this. Are those free character/word located mainly in the ```<template>``` part?

[2018-10-13 18:30] jkmdev commented on #68
@igeligel Stopped working on this for the time being because of #88.

[2018-10-13 19:01] moozzyk commented on #64
Sent a PR to address this.

[2018-10-14 11:09] #79 closed

[2018-10-14 11:09] #64 closed

[2018-10-18 07:52] igeligel opened #93 "Wrap key in span in the ListErrors component"
**Issue summary**

In [ListErrors.vue](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ListErrors.vue) there is an element being rendered. This element is `{{key}}` but is not wrapped by a `<span>` but should be.

**Acceptance criteria**

- In [ListErrors.vue](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ListErrors.vue) the

[2018-10-18 08:06] igeligel opened #94 "Use v-text instead of mustache syntax and self-close elements in ListErrors"
Depends on #93 to be done

**Issue summary**

In [ListErrors.vue](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ListErrors.vue) there are several elements where content is rendered with the mustache syntax. It is preferred to be rendered with [`v-text`](https://vuejs.org/v2/api/#v-text). Otherwise, all of those elements should be self closing like `<span v-tex

[2018-10-18 08:14] igeligel opened #95 "Create test cases for ListErrors"
**Issue summary**

A unit test should be created for the [ListErrors.vue](https://github.com/gothinkster/vue-realworld-example-app/blob/master/src/components/ListErrors.vue) component. It should be in the [`/tests/unit/components`](https://github.com/gothinkster/vue-realworld-example-app/tree/master/tests/unit/components) component. There are also similar examples in this folder for unit tests. Th

[2018-10-18 08:28] igeligel commented on #93
@luvuong-le Would be really great. If you need help just ping me here.

[2018-10-18 08:50] luvuong-le commented on #93
@igeligel Seems like there's already been a pull request, I'll leave it to them to resolve this issue

[2018-10-18 09:43] luvuong-le commented on #95
I'll give this a go

[2018-10-18 12:09] #83 closed

[2018-10-19 09:52] #94 closed

[2018-10-19 09:52] #95 closed

[2018-10-19 09:52] #93 closed

[2018-10-19 09:53] #71 closed

[2018-10-23 02:15] giulianovarriale commented on #13
Can I work on this?

[2018-10-23 07:31] igeligel commented on #13
@giulianovarriale of course

[2018-10-23 12:02] giulianovarriale commented on #13
Done!

[2018-11-07 19:17] JonDReese opened #104 "IE not working for me. 'Symbol' is undefined"
My website stopped working in IE after adding vue-router. I decided to find a working example and was surprised to find the same error here.

All I did is
- git clone https://github.com/gothinkster/vue-realworld-example-app.git
- cd vue-realworld-example-app
- yarn install
- yarn serve
- opened http://localhost:8080 in Internet Explorer

[Vue warn]: Error in render: "ReferenceError: 'Symbol' is un

[2018-11-08 09:03] igeligel commented on #104
Hey. This is an issue but can be fixed easily.

The problem here is that we develop with a recent version of JavaScript which is not supported in Internet Explorer. To get this new JavaScript working in old browsers it is compiled with Babel. You can try out their REPL here: https://babeljs.io/repl and type something like `const a = 123`. But Babel is just compiling code blocks and not simulating

[2018-11-08 14:47] JonDReese commented on #104
As you guessed I'm new to these types of problems, so thank you for the helpful response.

If I'm understanding you right, vue-router must be using a feature that babel isn't handling?

 It sounds like we need to add a symbol polyfilll?

[2018-11-08 14:59] igeligel commented on #104
I guessed that you are new so gave some more thoughtful answer :)

You are understanding it right. Every time you get errors like this, go to MDN and check the documentation about the type which is not supported. In this case, you can find it here:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol

As you can see in the [Browser compatibility table](https://d

[2018-11-08 20:38] igeligel commented on #104
Hey @JonDReese ,

I have made a PR here: #105
Would be nice if you could check this out and see if it works on your machine.

Thanks, Kevin

[2018-11-08 22:10] JonDReese commented on #104
Thanks so much! I will try it out. My personal Symbol polyfill is a little more complex than this one, so I've been trying to get it to work for myself first (selfishly)

[2018-11-08 22:10] JonDReese commented on #104
Thanks! Trying it out now.

[2018-11-08 22:11] #104 closed

[2018-11-08 22:14] JonDReese commented on #104
Works! You rock :)

Personally I'm still having an issue on my site, because my IE error is slightly different: ""Unable to get property '__symbol:toStringTag0.03521717070493940411' of undefined or null reference""

Something else must be already attempting to polyfill Symbol on my project. Regardless, I've got a much better idea of how to fix it now.

[2018-11-09 14:50] igeligel commented on #104
If you are using a custom polyfill then there might be a weird setup sometimes. Definitely recommend using the service above i mentioned.

[2018-11-20 00:48] partap commented on #27
I've been looking through the code for a while trying to trace from the beginning but I'm lost.
Maybe it's the webpack stuff, but there's some unexplained magick going on in the config.

I've got a few questions:

Starting from `yarn serve`, it seems to be serving a (modified) version of public/index.html.  This file has somehow injected /app.js, which appears to be the compiled output of src/main

[2018-11-29 09:52] igeligel opened #106 "Overall tech debt ticket"

[2018-11-29 16:44] championswimmer commented on #27
I have made the same project from scratch (the code structure won't be *exactly* the same, but it is *roughly* the same app)

I have recorded the entire process of building it. It is here
https://cb.lk/realworld/vue

If this project wants to use this video tutorial in any way, feel free to.

[2018-12-12 14:47] cliffordh opened #109 "Improve Google Pagespeed Insights score"
Conduit currently scores an 83/100 for mobile and 100/100 for desktop. This is such a great example of a complete Vue app that we should strive for 100/100 on all platforms.

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fvue-vuex-realworld.netlify.com%2F%23%2F&tab=mobile

[2018-12-12 14:56] igeligel commented on #109
Nice. I will work on a list soon on what to improve. The whole repository is in change right now anyway, but we will get there

[2018-12-16 21:47] cliffordh commented on #35
Should not the JWT token always pass to the backend (excluding of course login/register), and the backend either returns the response or a 401 not authorized or 403 forbidden (in the case of accessing resources that do not belong to the authenticated user)? It seems every API call should set the auth header and leave it to the backend to return the appropriate HTTP response code. We should not hav

[2018-12-18 09:41] tranlehaiquan commented on #35
Close this issue : ), because not working on it anymore.

[2018-12-18 09:41] #35 closed

[2018-12-24 19:10] areebbeigh opened #110 "[Question] [Exposed vuex store] Is this a potential security issue?"
**I'm still learning about Vue and am curious about this**

I can access and modify the store from the dev console as so:

`document.getElementsByTagName('a')[0].__vue__.$store.state`

Does this open potential security risks? Say for example, if there were a `isAdmin` attribute to validate user admin status stored in the state? Or if I could manipulate the user data that'd lead to a bad request to

[2018-12-25 12:42] igeligel commented on #110
Client-side validation is never safe. Always secure your backend APIs.

So, there are 2 solutions to this problem:

1) You still have your frontend bundled into one file in the end. This opens the possibility for "hackers" to enable the `isAdmin` flag. But when they try to use the admin features the server should response with a `401 Not Authorized` error. This means even if the "hacker" found a w

[2018-12-26 07:41] areebbeigh commented on #110
That makes sense. Thanks.

[2019-01-01 18:42] #110 closed

[2019-02-15 10:01] leegee opened #111 "Initial 'npm serve' produces worrying 'fix' output"
[code]

[2019-02-18 13:46] mr-lanholmes opened #112 "Service-worker file missing"
Hi all,

Am I missing the service-worker.js file? or will it be auto-generated during the build process? Thanks!

[2019-02-19 16:28] igeligel commented on #112
It will be auto-generated. You can see the code doing this here somehow: https://github.com/gothinkster/vue-realworld-example-app/blob/eeaeb34fa440d00cd400545301ea203bd2a59284/src/registerServiceWorker.js

[2019-03-14 17:28] ryougifujino opened #113 "Naming convention of constants in type files."
I noticed that some of the constants in `action.type.js` and `mutations.type.js` were named as the pattern of V+O (such as `CHECK_AUTH`,`FETCH_ARTICLE`), and the others as the pattern of O+V(such as `TAG_ADD`, `TAG_REMOVE`). Why? What's the difference?

[2019-03-18 19:55] blackestwhite opened #114 "using meta programming way to execute methods"
Hey,
what's the reason that using this way of declaring functions?
`
const mutations = {
  [SET_PROFILE] (state, profile){
    state.profile = profile;
    state.errors = {};
  }
}
`
what is advantages of using meta programming?
I'm not experienced, sorry if my question was ridiculous.

[2019-03-20 08:27] igeligel commented on #114
Hi, the question is ridiculous. Thanks for asking :)

[code]

By importing `SET_PROFILE` as a variable we make sure that if we rename the actual value of the mutation, it will be changed automatically in other places too. So this is just a nice-to-have feature. A good use-case, for example, is, when you actually want to change the name in the dev tools of this mutation because this can be done eas

[2019-03-29 13:36] #114 closed

[2019-05-19 13:11] igeligel commented on #112
@mr-lanholmes Can I close this issue?

[2019-05-19 13:21] igeligel opened #116 "Move inlined elements to Instance elements in ArticleActions"
### Current state

In [ArticleActions.vue](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/ArticleActions.vue) you can see that there are a lot of inlined properties in the template part. Those inlined elements like:

[code]

should be encapsulated in computed properties.

### Should be

[code]

But there are more occurrences.

[2019-05-20 09:42] #116 closed

[2019-05-29 14:00] ekosynth opened #127 "Include example of multiple base URLs used with VueAxios"
Many real world apps use more than one API to grab data. Could an example of this be included in this app?

[2019-06-01 04:22] luckylooke opened #129 "The script has an unsupported MIME type ('text/html')."
Hello!

First of all thank you for your amazing work! :)

I have clean install of your repo and wwithout any changes I am getting console error `The script has an unsupported MIME type ('text/html').` without any further info.. I currently have no idea how to find the file causing this.

Thank you for any idea.
Happy coding ;)

[2019-06-01 10:14] igeligel commented on #127
Hmm, in my opinion, this is handled at a different level.

There is a tool called NGINX (engine x) which supports implementing a reverse proxy. The question is probably why you want to do this?

- Gives one centralized point of where 3rd party APIs are integrated
- Gives you the possibility to hide requests to 3rd Party APIs
- Gives you the possibility to control how API calls are cached and so on

[2019-06-04 08:29] ekosynth commented on #127
@igeligel Ok, that's a great answer thanks. Embarassingly, I didn't know about this approach, as I've never needed to call multiple APIs before.

Our stack is hosted on IIS, but it looks like reverse proxy is possible. I guess the only downside I can see is the extra configuration you need to add/change for the various APIs, rather than just including them in a vue environment config.

[2019-06-04 08:36] ekosynth commented on #127
Also, just looking how would you configure the webpack server to implement this?

[2019-06-04 08:41] igeligel commented on #127
That's no problem that you did not know about this approach. It is good that you ask those questions 👍 Shows that you are willing to learn :)

yes and no. You need to this anyway. In the frontend or the Reverse Proxy. So you have to do it either way.

I answered this question once on stackoverflow: https://stackoverflow.com/questions/42748397/how-to-add-a-backend-to-the-webpack-template/42748740#4

[2019-06-19 22:05] shubhra14 opened #136 "Integrate this with wordpress rest api"
Hi,

I am really impressed by how much effort has gone into this. Thank you for hosting this here to help others learn.

I am a student and has mostly worked with php/wordpress. I have only recently started dabbling in JS and got interested in Vue and thought this is the perfect example to practice on. However, since I am familiar with wordpress, I was wondering how I could integrate this whole se

[2019-06-20 02:37] klamping commented on #111
All these errors are just 'prettier' settings that don't like having a semi-colon in some of the inline JS. Absolutely nothing to really worry about here; you can just ignore it (or submit a PR with the `;`'s removed)

[2019-06-20 07:15] igeligel commented on #136
Hey @shubhra14 , thanks for the kind words :)

Unfortunately, there is no realworld version of the Wordpress available. I do not even know if it is possible but in general integrating Vue.js with wordpress is working:

- https://dev.to/workingwebsites/using-vue-in-wordpress-1b9l
- https://github.com/EvanAgee/vuejs-wordpress-theme-starter
- https://snipcart.com/blog/wordpress-vue-headless

The last

[2019-06-20 20:23] shubhra14 commented on #136
Hi,
Thank you for replying. I have asked this question in RealWorld repo and am awaiting a response.

I have been able to make wp+vue work before, including pagination, but that wasn't setup using Vuex. I'm not very familiar with Vuex at this point. Still learning.

I tried changing a few things in this app but I am getting a few errors. Maybe I can make this work and it needs a few minor adjustme

[2019-06-21 12:41] #112 closed

[2019-06-29 15:00] dependabot-preview[bot] opened #139 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can

[2019-06-29 17:02] #139 closed

[2019-07-14 02:00] AlexanderOpran opened #159 "checkAuth should also commit purgeAuth when an error is catched"
https://github.com/gothinkster/vue-realworld-example-app/blob/e9edd6f6148cad07b68f32d2a770e2bc7e68af14/src/store/auth.module.js#L56-L69

As it currently stands, when the JWT token expires or is invalid the user will be permanently stuck in the isAuthenticated state. You can test it for yourselves by going to https://vue-vuex-realworld.netlify.com/, log in and then delete the token from local stora

[2019-07-22 07:46] afattahi54 opened #161 "Using vue-function-api"
Is there any plan to update this sample and use vue-function-api plugin.
It seems that the vue-function-api will be used in Vue 3.0 too

[2019-07-22 10:47] igeligel commented on #161
Hey @afattahi54, the proposal is still an active RFC which means it is not sure if this will be implemented.

You can see the RFC here: https://github.com/vuejs/rfcs/blob/function-apis/active-rfcs/0000-function-api.md

Especially issues like this https://github.com/vuejs/vue-function-api/issues/8#issuecomment-506239327 are showing that the migration to the plugin is kind of risky. I would leave it

[2019-07-22 12:14] #161 closed

[2019-08-20 12:13] ekosynth opened #175 "Add error handling to API calls"
The API calls don't seem to have handling for any fail status codes. Is this intended?

[2019-08-30 14:30] brianjlacy opened #189 "Support for the experimental syntax 'dynamicImport' isn't currently enabled"
I'm trying to run the app (`npm run serve`) and getting the error:

[code]

I've added the plugin as indicated, but there's no change. Here's my `babel.config.js`:

[code]

[2019-09-01 22:23] Allianzcortex opened #190 "What is the meaning of using [async/await ]"
Hey , just curious about why we need to use async/await in our actions:
e.g.

"""
async [FAVORITE_REMOVE](context, payload) {
    const { data } = await FavoriteService.remove(payload);
    context.commit(UPDATE_ARTICLE_IN_LIST, data.article, { root: true });
    context.commit(SET_ARTICLE, data.article);
  },
"""

for the  2nd line : `context.commit(UPDATE_ARTICLE_IN_LIST)` , it still needs to us

[2019-09-01 22:25] Allianzcortex commented on #5
@morficus awesome ! And would you mind having a look at this issue : https://github.com/gothinkster/vue-realworld-example-app/issues/190 . I cannot find the meaning of using `async/await ` in it.

[2019-09-02 05:04] morficus commented on #190
When you use `await`, the lines below that will not get executed until the `await`'ed function returns a value.

If you are comfortable with Promises but more familiar with the callback syntax, your above code is equivalent to writing this:
[code]

[2019-09-02 18:46] Allianzcortex commented on #190
@morficus yeah... I get what you mean now. we use await to make sure we can get the data returned by axios post

[2019-09-02 18:46] #190 closed

[2019-09-03 18:23] akrawchyk commented on #29
Or just don't commit them to local storage and set them in the Vuex store in memory:

- https://auth0.com/docs/security/store-tokens#don-t-store-tokens-in-local-storage
- https://community.auth0.com/t/why-is-storing-tokens-in-memory-recommended/17742

[2019-09-03 19:33] igeligel commented on #189
Cool spot, I made a PR here: https://github.com/gothinkster/vue-realworld-example-app/pull/192

Could you check it, if it solves your problem? I think it might have been a problem with the environment that the environment variable has not been set.

[2019-09-03 19:59] igeligel opened #194 "VTag: Use computed property for router link"
[code]

Ideally, `{ name: 'home-tag', params: { tag: name } }` should be a computed property and then used like:

[code]

Related resources:

-  https://vuejs.org/v2/guide/computed.html

[2019-09-03 20:03] igeligel opened #195 "VTag: Add test that router is called when VTag is clicked"
Introduce a test which checks if the [`VTag.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/VTag.vue) has been calling the vue-router.

**Resources**

- https://vue-test-utils.vuejs.org/guides/using-with-vue-router.html

[2019-09-03 20:04] igeligel opened #196 "VTag: Uninline content"
`{{ name }}` should rather be a `v-text`.

**Resources**

- https://vuejs.org/v2/api/#v-text

[2019-09-03 20:13] igeligel opened #197 "CommentEditor: Use computed property instead of static data"
In the [`CommentEditor.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/CommentEditor.vue) component, we are using some bad Vue.js practice by not using a computed property. Instead, it will use a data property.

[code]

`comment` should rather be a computed property and used there. Be careful with changing it, because the

[2019-09-03 20:16] igeligel opened #198 "CommentEditor: Use shorthand for directive"
In the [`CommentEditor.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/CommentEditor.vue) component we are using something like `v-on:submit.prevent="onSubmit(slug, comment);"`. We should rather use the shorthand version with `@`.

**Resources**

- https://vuejs.org/v2/style-guide/#Directive-shorthands-strongly-recommended

[2019-09-03 20:19] igeligel opened #199 "CommentEditor: Use PascalCase for imported components"
In the [`CommentEditor.vue` component](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/CommentEditor.vue), the `RwvListErrors` is imported, and used as `rwv-list-errors`. It should rather be used as `RwvListErrors`.

**Resources**

- https://vuejs.org/v2/style-guide/#Component-name-casing-in-templates-strongly-recommended

[2019-09-03 20:22] igeligel opened #200 "CommentEditor: Use relative imports"
In the [`CommentEditor.vue`](https://github.com/gothinkster/vue-realworld-example-app/blob/06f5939c4ccfd07045a73bbbe26b8cfd2d684556/src/components/CommentEditor.vue) component webpack's alias imports are used:

[code]

Instead, we should use relative imports. It is easier to refactor later.

**Resources**

- https://til.hashrocket.com/posts/38d2d28b6b-better-module-imports-with-webpack-aliases (it

[2019-09-05 08:44] igeligel opened #201 "Tests: Hide gitignore coverage reports"
**Current State**

When running `yarn test` the test command will create coverage reports. Those coverage reports will appear as files in `git`.

**Expected State**

- coverage reports do not show up in `git`

[2019-09-10 14:42] stevenkore opened #205 "Unable to follow instructions in the README file to get the project running"
Ubuntu 18.04 clean install. Installed tasksel and via that LAMP stack (just to get PHP for other projects). Then installed yarn as per official documentation and installed vue cli with yarn. Then cloned this project and tried the instructions in the README file. Got these errors:

[code]

Adding `export PATH="$(yarn global bin):$PATH"` to ~/.bash_profile as some have suggested did not help.

What

[2019-09-17 16:35] #189 closed

[2019-10-01 12:15] ikrydev commented on #194
please assign me to this..

[2019-10-01 12:21] ikrydev commented on #198
Please assign me to this...

[2019-10-01 13:18] Shanmugapriya03 commented on #201
Have Raised a PR for this issue #218  @igeligel

[2019-10-01 13:40] ikrydev commented on #198
#217

[2019-10-01 14:16] ikrydev commented on #197
assign me to this one... @igeligel

[2019-10-01 14:38] Shanmugapriya03 commented on #199
Have Raised a PR for this issue #219  @igeligel

[2019-10-01 19:11] chinmay81098 commented on #200
Created PR for this issue #220

[2019-10-01 19:18] #200 closed

[2019-10-02 17:51] kylerits commented on #194
I can tackle this if you don't mind.

[2019-10-04 00:14] igeligel opened #226 "Add editorconfig setup to the docs"
**Description**

It should be mentioned how to setup editorconfig in the README of this project. I will favor the Getting started section.

A useful resource is: https://editorconfig.org/#download

[2019-10-04 00:18] #196 closed

[2019-10-04 01:35] #199 closed

[2019-10-04 16:18] kylerits commented on #194
PR at #224

[2019-10-06 02:21] ikrydev commented on #198
close this , because its was merged @igeligel

[2019-10-06 07:58] andriyfm commented on #194
Use computed property for router link #231

[2019-10-06 11:43] Shanmugapriya03 commented on #201
#218 PR has been merged
Can you close this issue @igeligel it is still open

[2019-10-06 15:00] #201 closed

[2019-10-07 20:44] 12vanblart commented on #205
@stevenkore Did your `yarn install` complete successfully?

[2019-10-08 13:09] 12vanblart commented on #129
Are you still getting this error?

If so, what browser are you using?

[2019-10-09 01:14] AlexanderOpran commented on #159
No one actually encountered this problem?

[2019-10-09 05:50] luckylooke commented on #129
no, cannot reproduce now 👍 thanks

[2019-10-09 05:50] #129 closed

[2019-10-11 02:18] filipe-crespo opened #237 "Add docker in setup"
add docker in project for development the new fectures.

[2019-10-13 00:36] worldofprasanna opened #244 "Use shorthand for directive in all the components"
I noticed that few components don t have shorthand notation and it was addressed in few of the other issues as well. We can fix all the components at one stretch.

https://github.com/gothinkster/vue-realworld-example-app/issues/198

It is recommended to use @ instead of v-on for the directives.

**Recommendation**: https://vuejs.org/v2/style-guide/#Directive-shorthands-strongly-recommended

**Comp

[2019-10-14 04:27] shekhar677 commented on #38
exactly, @cuong-nguyen you are right, your method is much better

[2019-10-14 15:22] henryraygan commented on #244
i fixed this, is ok?

[2019-10-15 14:44] worldofprasanna commented on #244
@henryraygan the PR which I have submitted is already merged. I saw your commit, it contains few other changes also. Might be you can open a new issue stating all those changes and could raise a new PR for it.

I will close this issue now.

[2019-10-15 14:44] #244 closed

[2019-10-25 17:55] ydegtyar commented on #67
PR #269

[2019-11-06 13:53] neorganic commented on #159
^ Exactly what I've changed when building from this template. Because with the current repo state for e.g. when jwt token expires and your API starts sending you 401 (Unauthorized) - your front-end stays on the same page, rather than committing a purgAuth commit and pushing you to Login page.

[2019-11-13 20:22] outluch opened #274 "Tags cloud doesnt work"
I click on tag but nothing happens. https://vue-vuex-realworld.netlify.com/#/
In original version it works: https://demo.realworld.io/#/

[2019-11-18 08:54] igeligel commented on #274
Hey @outluch ,

I cannot reproduce this:

![](https://i.imgur.com/8yayajM.gif)

It is working as expected. Closing this issue in 24 hours if there are no other concerns.

[2019-11-19 08:17] #274 closed

[2019-11-25 02:37] afterup opened #277 "ArticleActions:Follow feature does not work properly on article pages"
ArticleActions.vue.

computed:
![스크린샷 2019-11-25 오전 10 58 49](https://user-images.githubusercontent.com/46258639/69507056-92b24100-0f74-11ea-85a5-d2ed3516a445.png)
methods:
![스크린샷 2019-11-25 오전 10 59 10](https://user-images.githubusercontent.com/46258639/69507102-ba090e00-0f74-11ea-977a-97cb05d0b92f.png)

- When the toggle button is clicked twice, the method works but the text of

[2019-11-28 04:43] formoon opened #282 "bug report for vue-realword working with rust-diesel backend"
As title, whe vue-realword frontend working with rust-diesel backend,
Edit user profile not function, I check the code, found that: src/store/auth.module.js
in  [UPDATE_USER](context, payload) {
...
return ApiService.put("user", user).then(({ data }) => {
need change to :
    return ApiService.put("user", { user: user }).then(({ data }) => {

[2019-12-04 07:41] danbst opened #286 "307 redirect is not handled"
Greetings. I would like to fix it myself, but I don't know where to start.

My backend responds on `/api/users` with 307 redirect to `/api/users/` (slash in the end). However this frontend doesn't handle that redirect.

When I patch sources to query `/api/users/`, backend responds with 200 and all good.

Can you point what has to be changed to handle 307 redirects?

[2019-12-05 07:03] mindochin commented on #274
confirm, not work
![record_000001](https://user-images.githubusercontent.com/1146472/70211565-41b20200-1757-11ea-8521-32acd98bfcfd.gif)

[2019-12-17 17:50] n3ps opened #289 "Tests fail on a fresh copy"
1. Clone
2. `npm install`
3. `npm run test`

Expected:
Failing or passing testings

Actual:
Jest encountered an unexpected token

Looks like just a configuration issue.

[2020-01-03 06:33] Gerfaut opened #296 "JWT token not cleared out from axios headers on logout"
Hello,
I noticed that the Authorization header (containing the JWT token) is still present on the next calls just after the logout.

Here are the step to reproduce :
- Login with an existing user ;
- Navigate to produce a call to backend -> the Authorization header is set : OK.
- Go to settings and Logout -> The token is destroyed from the localStorage : OK.
- Don't refresh/reload the page your br

[2020-02-13 07:28] vakorovin opened #323 "Crazy vue"
Why it is so difficult? You, the js-developer community, forever wear what bad php language and what dumb frameworks. But you 're really crazy. To bring out the fucking "hello world" you need to put 1086 dependencies, which is how many packages set yarn from your example. You 're fucking crazy. I can not answer, just want to say that I started looking for ready-made demo projects, because all the

[2020-02-13 18:13] #323 closed

[2020-03-21 09:16] pwli-star opened #335 "a doubt about css files"
I wonder why the css styles was linked in the CDN instead of in the *.vue files? As  someone may know little about ionicframework...

[2020-03-21 09:34] pwli-star commented on #286
I met this issue too. But it seems axios has no power to parse the response header([check this](https://github.com/axios/axios/issues/932)), so we cannot handle the redirect response as we cannot get the header and don't kown it's a redirect. My workaround is that use Nginx as a reverse-proxy server, I think Nginx can handle this redirect stuff well.

[2020-03-24 03:45] khuongphp commented on #194
@andriyfm this PR got error that `name` is null
We should accept pull request of @kylerits . That PR fix my error

[2020-05-05 15:16] erwin123 commented on #296
Hi, i was wondering, i see there is not validating token for every API endpoint. Are only check user for every load the route?

[2020-05-07 00:59] #237 closed

[2020-06-09 22:44] benmccann commented on #109
I keep getting scores in the 60s. Vue scores worse than almost all other frameworks, but I'm not sure why

[2020-06-16 08:25] arivictor opened #387 "Profile Settings inputs v-model current user state"
Fairly new to Vuex and vue in general but I noticed in `Settings.vue` that the inputs v-model the currentUser state. This means that if I modify the input it is already directly mutating the state (is this a no-no?).

Which leads into the button that then sents `this.currentUser` back to the store, even though the store was already modified via v-model.

[code]
I tested this by simple displaying `

[2020-06-28 03:10] thinh105 opened #397 "No one maintain this project anymore ?"
I saw a lot of Pull Requests that fix some bugs, update something news but still, no accept.

Is that mean this project was kind of out-dated?

So any advice for newbies when we trying to learn about this project,

Thanks,

PS: Sorry, I'm new in the town and don't know much about GitHub and Vue, just asking,

[2020-07-21 16:25] thinh105 commented on #159
thank guys to pointing out of this bug, I stuck in that 2 days

[2020-07-22 04:31] thinh105 commented on #296
Look like it is a bug,

The Authorization header still contains the token, I saw the code and see no action to clean that,

So when people log out, just visit https://vue-vuex-realworld.netlify.com/#/settings and change something ~> update settings ~> Vola, you can change it, and also automatically login!

[2020-09-09 21:06] yxj0312 commented on #277
Thought the Profile should be loaded like in the profile.vue
[code]
and const action should instead <s>action</s>  be profile.following
[code]

[2020-09-26 00:33] mandarvaze commented on #397
Project demo page says "This site is suspended " 😢

[2020-09-26 06:15] thinh105 commented on #397
https://vue-vuex-realworld.netlify.com/#/

not .app

not sure why someone changed it

[2020-09-26 09:02] mandarvaze commented on #397
`.com` is being auto-redirected to `.app` - hence the same result :  "This site is suspended "

@thinh105 is it working for you ?

[2020-09-27 16:12] thinh105 commented on #397
![image](https://user-images.githubusercontent.com/23691294/94369953-ef433700-0116-11eb-90f1-5bf98614dd53.png)
I'm not sure I can visit to `.com` domain

[2020-09-28 02:33] mandarvaze commented on #397
@thinh105 I tried using Firefox, Brave browser and Chrome. I get "This site is suspended" everywhere 🔮

<img width="210" alt="image" src="https://user-images.githubusercontent.com/46438/94384519-64872a00-0160-11eb-9bee-2fb2a887d9dd.png">

<img width="214" alt="image" src="https://user-images.githubusercontent.com/46438/94384712-dc555480-0160-11eb-8d3d-38c32f74829b.png">

From `Response Payload` (F

[2020-09-29 11:30] FRSgit commented on #397
Same for me - "site is supended". @thinh105 maybe caching somewhere (locally/on some of the network layers?)

[2020-09-30 02:05] thinh105 commented on #397
Yes, it loaded from the cache.

if I open in incognito, it's the same as you guys point out,

[2020-10-19 16:24] bakbuz opened #450 "Upgrade Vue 3?"
Could you upgrade to Vue.js version 3? Is it possible?

[2020-11-07 10:06] levchak0910 commented on #450
@bakbuz, [here](https://github.com/mutoe/vue3-realworld-example-app) is version using vue3, but not official

[2020-11-07 14:35] bakbuz commented on #450
It's looking pretty good. Thank you very much.

[2020-11-07 14:35] #450 closed

[2020-12-24 02:57] humoyun commented on #335
@pwli0755 I am also curious about that, at first I could not find and frustrated a bit

[2020-12-27 16:53] levchak0910 opened #474 "Could you add links to another vue related implementations?"
The goal of this to have all implementations linked with each other
Other implementations:
https://github.com/AlexBrohshtut/vue-ts-realworld-app - vue2, ts, class-component
https://github.com/devJang/nuxt-realworld - nuxt, ts, composition api
https://github.com/mutoe/vue3-realworld-example-app - vue3, vite, ts, composition api
https://github.com/levchak0910/vue3-ssr-realworld-example-app - vue3, s

[2021-02-11 01:25] w3bdesign commented on #397
@thinh105

I would recommend that you check out the Vue 3 version which seems to be more actively maintained:

https://github.com/mutoe/vue3-realworld-example-app

[2021-02-18 10:02] thinh105 commented on #397
Thanks, love to move to Vue 3

[2021-07-13 21:44] vilsbole opened #563 "Hosting of example application"
I will stop hosting the example application on te 18/07.
Is there a current maintainer who wishes, I can transfer the ownership of the current Netlify app?

[2021-09-28 00:30] #106 closed

[2021-10-01 11:06] #198 closed

[2021-11-29 08:02] ankitacroit09 commented on #286
Hi, I am also facing the issue while redirecting the api response 302.

One time its passed for 302 which have the another redirect URl. And then its creating the cross issue.
The code I used to resolve one 302 from API is. Adding the proxy in package.json file.

 "proxy":"https://localhost" (based on BE running locally in eclipse )

After doing this I have add the axios inceptor to check the resp

[2022-01-06 09:37] jasurkurbanov commented on #563
I want to be a maintainer of this project. Can you add me as a maintainer ?

[2022-01-23 20:23] swrzalek commented on #563
@vilsbole also interested of taking care of it.

[2022-01-23 20:40] vilsbole commented on #563
Hi, thanks for you interest!
I've added you both as contributors, so you will be able to submit, review, and merge MR's.
Have fun!

[2022-01-23 20:40] #563 closed

[2022-07-08 07:36] nanqic opened #584 "Can you run this app now?"
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/home/apps/vue-realworld-example-app/node_modules/node-gyp/lib/build.js:262:23)
gyp ERR! stack     at ChildProcess.emit (node:events:527:28)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (node:internal/child_process:291:12)
gyp ERR! System Linux 3.10.0-1160.el7.x86_64
g

[2022-11-03 04:00] ngmikeng commented on #584
I also saw an error related to node-sass, because I didn't see any file scss or sass using in this project so I removed the packages `node-sass` , `sass-loader` then it ran successful.